*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #bb3e3e;
}

#frame{
    margin: auto;
    display: grid;
    grid-template-columns: 0.33fr 1fr;
    width: 210mm;
    height: 297mm;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.7);
}

#frame .kolom1{
    padding: 40px 40px;
    padding-left: ;
    background-color: #751003;
    width: 100%;
    color: #2c2c2c;
}

#frame .kolom1 .profile{
    display: inline-flex;
    margin-bottom: 5px;
    margin-left: -15px;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: 4px solid #2c2c2c;
    background-image: url("viola1\'s.jpeg");
    background-position: center top;
    background-size: 100%;
}

#frame .kolom2{
    padding: 40px;
    color: #141414;
}

#frame .kolom2 .title{
    color: #070707;
    font-size: 30px;
}

.grup1 {
    color: #ffffff;
}
.box1{
    display: inline-block;
    padding: 2px 30px 2px 40px;
    margin-left: -40px;
    margin-top: 65px;
    background-color: #030100;
    color: #ffffff;
}

.box2{
    display: inline-block;
    padding: 2px 30px 2px 40px;
    margin-left: -40px;
    margin-top: 40px;
    background-color: #030100;
    color: #ffffff;
}

.box3{
    display: inline-block;
    padding: 2px 30px 2px 40px;
    margin-left: -40px;
    margin-top: 30px;
    background-color: #030100;
    color: #ffffff;
}

.box4{
    display: inline-block;
    padding: 2px 30px 2px 40px;
    margin-left: -40px;
    margin-top: 50px;
    background-color: #030100;
    color: #ffffff;
}

.kt1{
    padding-top: 10px;
    color: #ffffff;
}

.kt2{
    padding-top: 10px;
    color: #ffffff;
}

.kt3{
    padding-top: 10px;
    color: #ffffff;
}


.exp1{
    padding-top: 10px;
    color: #ffffff;
}

.exp2{
    padding-top: 20px;
    color: #ffffff;
}

.exp3{
    padding-top: 20px;
    color: #ffffff;
}

.exp4{
    padding-top: 20px;
    color: #ffffff;
}

.exp5{
    padding-top: 20px;
    color: #ffffff;
}

.exp6{
    padding-top: 20px;
    color: #ffffff;
}

.exp7{
    padding-top: 20px;
    color: #ffffff;
}

.exp8{
    padding-top: 20px;
    color: #ffffff;
}

.Pd1{
    padding-top: 10px;
    color: #ffffff;
}

.Pd2{
    padding-top: 20px;
    color: #ffffff;
}
